---
layout: default
title: Science World
---
{% include nav-bar.html %}
{% include base.html %}
<div class="container">
  <h1>SCIENCE WORLD WEBSITE</h1>
  <h5 class="lc mb-5">a heuristic evaluation</h5>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <img src="{{ base }}/assets/img/scienceworld/cover.png" class="img-fluid mb-3" alt="Responsive image">
      <p>In a team of three people, we were tasked to perform a heuristic evaluation to find usability problems in Science World's website. We started off this project by coming up with a list of user's goals for the website such as checking out the schedule, buying tickets and booking a field trip etc. Once we had all the goals listed out, we then proceeded to task analysis by analyzing how those goals can be completed. Individually, we went through the tasks while using the websites to find usability problems. We gathered all the usability problems found and assessed the severity of the problems. Last but not least, we wrote a heuristic evaluation report discussing our findings and suggested improvements that we believe we help solving those usability problems. The report was later submitted to Science World.</p>
      <hr class="thin">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <h5>responsibilities</h5>
          <ul class="list-unstyled">
            <li>Performing heuristic evaluation with other experts on the team</li>
            <li>Performing task analysis</li>
            <li>Co-writing the final report</li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <h5>outcome</h5>
          <ul class="list-unstyled">
            <li>Able to perform heuristic evaluation and task analysis to help identifying usability issues with the UI</li>
            <li>Able to pick out and prioritize important tasks to be analyzed</li>
            <li>Able to deliver a report that highlights usability issues along with suggested improvements</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 offset-md-1 col-xs-12">
      <div class="mb-5 side-info">
        <h5>Skillset</h5>
        <ul class="list-unstyled">
          <li>Heuristic Evaluation</li>
          <li>Observation</li>
          <li>Task Analysis</li>
        </ul>
      </div>

      <div class="mb-5 side-info">
        <a href="{{ base }}/assets/files/scienceworld_report.pdf" target="_blank" class="icon-link mr-2" title="Download the paper in PDF"><i class="fas fa-file-pdf"></i></a>
      </div>
    </div>
  </div>
</div>
