---
layout: default
title: Exploring User-Definable Graph Layouts
---
{% include nav-bar.html %}
{% include base.html %}

<div class="container">
  <h1>Exploring User-Definable Graph Layouts</h1>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WkfwKCKgz-c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <p>Graphs are a common type of data encountered by analysts. Social networks, co-author networks, and gene interactions can all be represented as graphs. These types of data can be difficult to understand without the aid of a visualization. Visual analytics tools with graph visualizations allows the analysts to view data as a node link diagram. Vertices or nodes represent objects. Edges represent the relationship between two nodes. To render graphs, a number of automatic graph layouts have been developed. These algorithms use properties of the graph, like the number of interconnections between nodes, to compute positions for the graph’s vertices. While these algorithms have a number of parameters that can be adjusted to affect the layout, they are automatic - no analyst input is used to position the graph nodes.</p>
      <p>I wrote a paper that discusses how automated graph layouts do not meet the needs of analysts and propose an interaction technique to better meet the needs of the analyst. I also built a prototype that helps with analysts with the sense-making process.</p>
      <hr class="thin">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <h5>responsibilities</h5>
          <ul class="list-unstyled">
            <li>Exploring different graph layouts that can help analysts with the sense-making process</li>
            <li>Built the prototype using JavaFX</li>
            <li>Write a paper report about the research</li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <h5>outcome</h5>
          <ul class="list-unstyled">
            <li>Able to brainstorm, design and build an Android app from scratch</li>
            <li>Able to do research and look for different approaches to solve a problem</li>
            <li>Able to do research and look for different approaches to solve a problem</li>
            <li>Able to work in small team to create a medium size project</li>
          </ul>
        </div>
      </div>
      <hr class="thin">
      {% for image in site.static_files %}
        {% if image.path contains 'img/udgl' %}
          <img data-src="{{ base }}/{{ image.path}} " alt="" class="img-fluid mb-3 mx-auto d-block">
        {% endif %}
      {% endfor %}
    </div>

    <div class="col-md-3 offset-md-1 col-xs-12">
      <div class="mb-5 side-info">
        <h5>technology</h5>
        <ul class="list-unstyled">
          <li>Java</li>
          <li>JavaFX</li>
          <li><a href="http://jung.sourceforge.net/" class="text-link" target="_blank">JUNG<sup><i class="fas fa-external-link-alt ml-1"></i></sup></a></li>
        </ul>
      </div>

      <div class="mb-5 side-info">
        <a href="{{ base }}/assets/files/UDGLPaper.pdf" target="_blank" class="icon-link mr-2" title="Download the paper in PDF"><i class="fas fa-file-pdf"></i></a>
        <a href="{{ base }}/assets/files/udgl.jar" target="_blank" class="icon-link mr-2" title="Download the .jar file"><i class="fas fa-download"></i></a>
        <a href="https://github.com/TheBokiya/UDGraphLayout" target="_blank" class="icon-link" title="Visit Github"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
