---
layout: default
title: About
---
{% include nav-bar.html %}
{% include base.html %}
<div class="container">
  <h1>About Me</h1>
  <h5>Knowledge is power.</h5>
  <div class="row mt-5">
    <div class="col-md-4">
      <img data-src="{{ base }}/assets/img/profile_pic.jpg" alt="Profile Picture" class="img-fluid mb-3">
    </div>
    <div class="col-md-8">
      <p>As an individual who is intrigued by how people and technology intertwine, I have developed interests in UX Design, Visual Analytics and Web technologies. My interests take me everywhere in the scope of HCI from designing graphical user interfaces for mobile apps to explore new algorithms to support user definable graph layout in visual analytics. I have shaped myself into a self-disciplined person capable of working well independently or in a team.</p>
      <p>For the past 5 years, I've worked on a number of web development projects mainly as a front-end developer. I worked with ASP.NET MVC for a period of time and have since shifted a majority of my work toward Ruby on Rails. Currently, looking to get my hands dirty with Javascript frameworks like Angular and React.</p>
    </div>
  </div>
  <hr class="thin">
  <h3 class="mt-5">Qualifications</h3>
  <div class="row mt-5">
    <div class="col-md-6 col-xs-12">
      <h5 class="mb-3">experience</h5>
      {% for item in site.data.experiencelist.docs %}
      <div class="mb-5 side-info">
        <div class="d-none d-sm-block"><strong>{{ item.position }}</strong>&emsp;|&emsp;{{ item.timeframe }}</div>
        <div class="d-block d-sm-none"><strong>{{ item.position }}</strong></div>
        <div class="d-block d-sm-none">{{ item.timeframe }}</div>
        {% if item.link %}
          <div><a href="{{ item.link }}">{{ item.company }}</a></div>
        {% else %}
          <div>{{ item.company }}</div>
        {% endif %}
        <div class="small">{{ item.location }}</div>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="mb-3">
        <h5 class="mb-3">education</h5>
        {% for item in site.data.educationlist.docs %}
        <div class="mb-5 side-info">
          <div class="d-none d-sm-block"><strong>{{ item.school }}</strong>&emsp;|&emsp;{{ item.timeframe }}</div>
          <div class="d-block d-sm-none"><strong>{{ item.school }}</strong></div>
          <div class="d-block d-sm-none">{{ item.timeframe }}</div>
          <div>{{ item.degree }}</div>
          <div class="small">{{ item.location }}</div>
        </div>
        {% endfor %}
      </div>

      <div class="my-5">
        <h5 class="mb-3">honours + awards</h5>
        {% for item in site.data.awardlist.docs %}
        <div class="mb-5 side-info">
          <div class="d-none d-sm-block"><strong>{{ item.award }}</strong>&emsp;|&emsp;{{ item.timeframe }}</div>
          <div class="d-block d-sm-none"><strong>{{ item.award }}</strong></div>
          <div class="d-block d-sm-none">{{ item.timeframe }}</div>
          <div class="small">{{ item.location }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
