---
layout: default
title: tim bodyka heng
---
{% include nav-bar.html %}
<div class="container h-100">
  <div class="row">
    <div class="col-12">
      <div class="sub-index highlight">tim bodyka heng</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      <hr class="thicc">
      <div class="mt-5">
        <p class="index-text">hey it's tim. welcome to my personal portfolio.</p>
        <p class="index-text">a ux/ui designer + front-end developer and a coffee addict. I'm very passionate about digital design and also a lowkey admirer of everyday design.</p>
        <p class="index-text">full-time chelsea supporter, pop-culture junkie and master of memes.</p>
        <p class="index-text">get in touch with me if you have any interesting projects you have in mind.</p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-8 col-xs-12">
      {% for i in site.data.contact %}
      <a href="{{ i.link }}" class="contact-icon mr-3" target="_blank">
        <i class="{{ i.icon }}"></i>
      </a>
      {% endfor %}
      <p class="fine-print">ps: if all else fails, send an owl.</p>
    </div>
  </div>
</div>
</div>
