<nav class="navbar navbar-expand-lg navbar-light fixed-top animated fadeInDown">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <i class="icon-logo-text d-none d-sm-block"></i>
      <i class="icon-logo-block d-block d-sm-none"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for item in site.data.pagelist.docs %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
