.card {
  border-color: $color-orange;
  .card-body {
    padding-top: 10px;
    padding-bottom: 10px;
    .card-title {
      color: $color-orange;
    }
    ul {
      margin-bottom: 0;
    }
  }
}
