hr {
  border: none;
  /* Set the hr color */
  color: $color-secondary;
  /* old IE */
  background-color: $color-secondary;
  /* Modern Browsers */
  &.thicc {
    height: 8px;
    margin: 5px 0;
  }

  &.thin {
    height: 1px;
  }
}

.border-left-thicc {
  border-left: 10px solid $color-secondary;
}

//SCROLL TO TOP
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  display: block;
  @media (min-width: $sm-device) {
    bottom: 40px;
    right: 60px;
  }
}

#return-to-top svg {
  color: transparentize($color-secondary, 0.7);
  margin: 0;
  position: relative;
  left: 19px;
  top: 13px;
  font-size: 1.5em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  @media (min-width: $sm-device) {
    font-size: 2em;
  }
}

#return-to-top:hover svg {
  color: $color-secondary;
  top: 5px;
}
