a,
div,
p,
span {
  color: $color-primary;
  line-height: 2em;
  font-size: 1em;
  font-family: $font-default;
  font-weight: 300;
}

a.underline {
  font-weight: 400;
  color: $color-orange;
  @include underline($color-orange);
}

a {
  color: $color-secondary;

  &.text-link {
    padding-bottom: 5px;
    @include underline($color-secondary);
  }

  &.icon-link {
    font-size: 2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: $color-secondary;
  font-family: $font-default;
  font-weight: 700;
  letter-spacing: 6px;

  &.lc {
    text-transform: lowercase;
  }
}

ul {
  li {
    text-transform: lowercase;
  }
}

.font-icon-lg {
  font-size: 20em;
  color: $color-primary;
}

.index-logo {
  font-family: $font-cursive;
  font-size: 5em;
}

.highlight {
  color: $color-secondary;
}

.index-text {
  font-size: 1.2em;
}

.sub-index {
  opacity: 50%;
  font-size: 2em;
  font-weight: 700;
}

.fine-print {
  font-size: 0.8em;
  color: transparentize($color-primary, 0.4);
}

.small {
  font-size: 0.7em;
  font-weight: 300;
}
